<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-2">
                <img src="img/logo-icon.png">
                <p>Traga seu jogo usado para que outros gamers tenham experiências ÉPICAS!
                </p>
            </div>
            <div class="footer-col-4">
                <h3>Siga a gente</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright - Luis Gustavo</p>
    </div>
</div>