<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Market Games</title>
  <link rel="stylesheet" href="/css/style2.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
  <h1>MARKET GAMES</h1>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="/register" method="post">
        <h1>Criar conta</h1>
        <input type="text" placeholder="Nome de usuário" name="newusername" />
        <input type="email" placeholder="Email" name="newemail"/>
        <input type="tel" placeholder="Telefone" name="newphone">
        <input type="text" placeholder="endereço" name="newaddress">
        <input type="password" placeholder="Senha" name="newpassword" />
        <button type="submit">Registrar</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#" method="post">
        <h1>Entrar</h1>
        <input type="email" placeholder="Email" name="email"/>
        <input type="password" placeholder="Senha" name="password"/>
        <button type="submit">Entrar</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Está de Volta?</h1>
          <p>Para se conectar faça o login com seu email cadastrado</p>
          <button class="ghost" id="signIn">Entrar</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Olá, Gamer!</h1>
          <p>Cadastre com seus dados para começar sua próxima jornada ÉPICA!</p>
          <button class="ghost" id="signUp">Registrar</button>
        </div>
      </div>
    </div>
  </div>

</body>

<script>
  const signUpButton = document.getElementById('signUp');
  const signInButton = document.getElementById('signIn');
  const container = document.getElementById('container');

  signUpButton.addEventListener('click', () => {
    container.classList.add("right-panel-active");
  });

  signInButton.addEventListener('click', () => {
    container.classList.remove("right-panel-active");
  });
</script>

</html>