<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="/index"><img src="/img/logo-white.png" alt="logo" width="125px"></a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="/index">Home</a></li>
                <li><a href="/product/list-all">Produtos</a></li>
                <li><a href="/product/create">Novo Produto</a></li>
                <li><a href="/product/my-products">Meus Produtos</a></li>
                <li><a href="/user">Usuário</a></li>
            </ul>
        </nav>
        <a href="/emptyCart"><img src="/img/cart.png" width="30px" height="30px"></a>
        <img src="/img/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
</div>

<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";
    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px"
        }
        else {
            MenuItems.style.maxHeight = "0px"
        }
    }
</script>
