<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="/"><img src="img/logo-white.png" alt="logo" width="125px"></a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="/">Home</a></li>
                <li><a href="products">Produtos</a></li>
                <li><a href="">Sobre</a></li>
                <li><a href="">Contato</a></li>
                <li><a href="login">Conta</a></li>
            </ul>
        </nav>
        <a href="cart"><img src="img/cart.png" width="30px" height="30px"></a>
        <img src="img/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
</div>
