<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Market Games</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <%- include("navbar.ejs") %>

  <h1>Adcionar novo Produto</h1>
  <div class="formLogin">
    <form action="#" class="productForm">
      <input type="text" name="prodName" placeholder="Nome do Produto"/>
      <select name="categories" id="categorieProd">
        <option value="" disabled selected>Escolha a categoria do Game</option>
        <option value="1">Playstation 4</option>
        <option value="2">Xbox One</option>
        <option value="3">Nintendo Switch</option>
        <option value="4">Playstation 5</option>
        <option value="5">Xbox Series</option>
      </select>
      <input type="text" name="priceProd" placeholder="Preço"/>
      <textarea name="description" id="" cols="34" rows="10" placeholder="Descrição"></textarea>
      <input type="file" name="Image" accept="image/png, image/gif, image/jpeg" id="imageProd" placeholder="Adicionar Imagem"/>
      <button>Enviar</button>
      
    </form>
  </div>


  <%- include("footer.ejs") %>
  
</body>

</html>